In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from os import walk

In [4]:
# get filenames with walk
f = []
for (dirpath, dirnames, filenames) in walk('collision_data/'):
    f.extend(filenames)
    break

In [5]:
f

['vehicules_2009.csv',
 'vehicules_2008.csv',
 'vehicules-2017.csv',
 'vehicules-2018.csv',
 'vehicules-2019.csv',
 'vehicules-2020.csv',
 'vehicules_2005.csv',
 'vehicules_2011.csv',
 'vehicules_2010.csv',
 'vehicules_2012.csv',
 'vehicules_2006.csv',
 'vehicules_2007.csv',
 'vehicules_2013.csv',
 'vehicules_2016.csv',
 'vehicules_2014.csv',
 'vehicules_2015.csv']

In [7]:
# read dataframe in csv with pandas
df = []
for file in f:
    df.append(pd.read_csv('collision_data/' + file))

In [8]:
# join dataframes
df = pd.concat(df)

In [9]:
df

,Num_Acc,senc,catv,occutc,obs,obsm,choc,manv,num_veh,"Num_Acc;""id_vehicule"";""num_veh"";""senc"";""catv"";""obs"";""obsm"";""choc"";""manv"";""motor"";""occutc"""
0,2.009000e+11,0.0,13.0,0.0,0.0,1.0,2.0,1.0,A01,NaN
1,2.009000e+11,0.0,7.0,0.0,0.0,2.0,2.0,1.0,B02,NaN
2,2.009000e+11,0.0,7.0,0.0,0.0,2.0,5.0,13.0,A01,NaN
3,2.009000e+11,0.0,10.0,0.0,0.0,2.0,2.0,15.0,A01,NaN
4,2.009000e+11,0.0,33.0,0.0,0.0,2.0,8.0,1.0,B02,NaN
...,...,...,...,...,...,...,...,...,...,...
99773,2.015001e+11,1.0,7.0,0.0,0.0,2.0,1.0,17.0,A01,NaN
99774,2.015001e+11,1.0,30.0,0.0,0.0,2.0,1.0,1.0,B01,NaN
99775,2.015001e+11,0.0,7.0,0.0,0.0,1.0,2.0,1.0,A01,NaN
99776,2.015001e+11,0.0,30.0,0.0,0.0,2.0,1.0,1.0,A01,NaN
99777,2.015001e+11,0.0,10.0,0.0,0.0,9.0,4.0,1.0,B01,NaN